{{template "partials/header.html" .}}
              <h2 class="blog-post-title"><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
              <p class="blog-post-meta">
                {{.Date.Format "Jan 2 2006"}} by {{.Params.author}}
                <br>
                {{$base := .Site.BaseURL}}
                <i>Tags: {{range .Params.tags}} <a href="{{$base}}tags/{{.}}">{{.}}</a> {{end}}</i>
              </p>
              {{.Content}}
            </div>

          <!-- End blog posts -->
          <ul class="pager">
            {{if .Next}}
            {{if and (eq .Next.Type "blog") (eq .Type "blog")}}
            <li><a href="{{.Next.Permalink}}">Previous Post</a></li>
            {{end}}
            {{end}}
            {{if .Prev}}
            {{if and (eq .Prev.Type "blog") (eq .Type "blog")}}
            <li><a href="{{.Prev.Permalink}}">Next Post</a></li>
            {{end}}
            {{end}}
          </ul>

        </div>
        <!-- End blog main -->


{{template "partials/footer.html" .}}
