<img src="/static/img/me_about.png" />
<br>
<p>
I am an Oracle certified MySQL database administrator who hails from the greater Boston area in Massachusetts, USA. In addition to being a DBA, I'm also a skillful programmer and system administrator. The Go programming language is a current favorite of mine. In my spare time I enjoy relaxing with my wife, son and our two cats, playing video games, hacking on open source projects and regularly working out to stay in shape.
</p>

<!-- Resume -->
<a href="/static/files/resume.pdf" target="_blank">
  <i class="fa fa-file-pdf-o fa-lg" title="Resume">&nbsp;Resume</i>
</a>

<br><br>

<!-- Github -->
<a href="https://github.com/joshuaprunier" target="_blank">
  <i class="fa fa-github fa-lg" title="GitHub"></i>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Google+ -->
<a href="https://plus.google.com/u/0/100888258278890268390" target="_blank">
  <i class="fa fa-google-plus fa-lg" title="Google Plus"></i>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Linkedin -->
<a href="http://www.linkedin.com/in/joshuaprunier" target="_blank">
  <i class="fa fa-linkedin fa-lg" title="LinkedIn"></i>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Twitter -->
<a href="https://twitter.com/JoshuaPrunier" target="_blank">
  <i class="fa fa-twitter fa-lg" title="Twitter"></i>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- RSS -->
<a href="{{.Site.BaseURL}}index.xml" target="_blank">
  <i class="fa fa-rss fa-lg" title="RSS Feed"></i>
</a>
